<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Customer Sign-up Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
        <!-- Place favicon.ico in the root directory -->
        <link href="bootstrap/css/bootstrap.min.css" media="all" rel="stylesheet" />
    </head>
    <body ng-app="app">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            <div class="content">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Customer Sign-up</h3>
                        </div>
                        <div class="panel-body" ng-controller="CustomerSignupController">
                            <form name="signupForm" ng-submit="submit()" novalidate>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group" ng-class="{ 'has-error' : signupForm.signup_title.$invalid && !signupForm.signup_title.$pristine }">
                                            <label>Title</label>
                                            <select ng-model="user.title" type="text" required class="form-control" name="signup_title">
                                                <option ng-repeat="option in nameTitleOptions" value="{{option.id}}">{{option.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group" ng-class="{ 'has-error' : signupForm.first_name.$invalid && !signupForm.signup_first.$pristine }">
                                            <label>First name</label>
                                            <input ng-model="user.first_name" type="text" required class="form-control" name="signup_first" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group" ng-class="{ 'has-error' : signupForm.signup_last.$invalid && !signupForm.signup_last.$pristine }">
                                            <label>Surname</label>
                                            <input ng-model="user.surname" type="text" required class="form-control" name="signup_last" placeholder="Surname">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{ 'has-error' : signupForm.signup_street.$invalid && !signupForm.signup_street.$pristine }">
                                            <label>Street</label>
                                            <input ng-model="user.street" type="text" required class="form-control" name="signup_street" placeholder="Street">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{ 'has-error' : signupForm.signup_town.$invalid && !signupForm.signup_town.$pristine }">
                                            <label>Town</label>
                                            <input ng-model="user.town" type="text" required class="form-control" name="signup_town" placeholder="Town">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{ 'has-error' : signupForm.signup_postcode.$invalid && !signupForm.signup_postcode.$pristine }">
                                            <label>Postcode</label>
                                            <input ng-model="user.postcode" type="text" required class="form-control" name="signup_postcode" placeholder="Postcode">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{ 'has-error' : signupForm.signup_dob.$invalid && !signupForm.signup_dob.$pristine }">
                                            <label>Date of birth</label>
                                            <input ng-model="user.dob" type="date" required class="form-control" name="signup_dob" placeholder="Date of birth">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="checkbox" ng-class="{ 'has-error' : !birthdateIsValid() && !signupForm.signup_dob_check.$pristine }">
                                            <br />
                                            <label>
                                                <input ng-model="user.dob_check" name="signup_dob_check" type="checkbox"> I am 18+ years of age
                                            </label>
                                            <p ng-show="!birthdateIsValid()" class="help-block">This does not match with your date of birth.</p>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" ng-disabled="signupForm.$invalid || !birthdateIsValid()" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="js/angular.min.js"></script>
        <script src="js/ui-bootstrap-tpls-1.3.2.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>